body
{
    margin: 0;
    background-color: black;
}
.background
{
    background-image:url('background1.jpg');
    background-color: dodgerblue;
   
    height: 40%;
    background-repeat: no-repeat;
   
    background-size: cover;
    
   
   
    
}
.background img
{
    padding-left: 40%;
    padding-top: 6%;
}
.background p
{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    float: right;
    padding-top: 6%;
    padding-right: 30%;
    font-size: 25px;
}

.nav_bar
{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_bar ul{
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;
    padding:0;
    margin: 0;
    background-color: black;
}
.nav_bar ul li
{
    float: right;
}
.nav_bar ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
 
}
li a:hover{
    background-color: red;
}
.head_img
{
   padding-bottom: 0%;
}
.name h1
{
    padding-right: 40%;
    float: right;
    padding-bottom: 100%;
}
.projects h1
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}

.projects p
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}
.projects img
{
    padding-left: 120px;
}
.projects table td
{
    color: white;
    padding-left: 190px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
 
}
.education h1
{
    font-family: 'Poppins', sans-serif;
    
    font-size: 25px;
    color: white;
}
.education table td
{
    color: white;
    padding-left: 190px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
 
}
.education table th
{
    color: white;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
}

